<html>
  <head>
    <title>認証システム</title>
    <link type='text/css' rel="stylesheet" href="../css/style.css">
    <script type='text/javascript' src="../js/jquery.min.js"></script>
    <script type='text/javascript' src="../js/particleground.min.js"></script>
    <script type='text/javascript' src="../js/particles.js"></script>
  </head>
  <body>
    <div id="particles"></div>
    <div id="app">
      <span>hCaptchaが間違っています！</span>
    </div>
  </body>
</html>